#------------------------------
#             RU
#------------------------------

DB_ENGINE=postgresql                 # Ваш выбор БД. sqlite3 для выбора sqlite3. Или postgresql для выбора PostgreSql

POSTGRES_USER=имя_пользователя_бд    # Ваше имя пользователя для бд
POSTGRES_PASSWORD=пароль_бд          # Ваш пароль для бд
POSTGRES_DB=название_бд              # Название вашей бд
DB_HOST=адрес_бд                     # Стандартное значение - db
DB_PORT=порт_для_бд                  # Стандартное значение - 5432


SECRET_KEY=DJANGO_SECRET_KEY         # Ваш секретный ключ Django
DEBUG=False                          # True - включить Дебаг. Или оставьте пустым для False
ALLOWED_HOSTS=127.0.0.1              # Список адресов, разделенных пробелами

# Помните, если вы выставляете DEBUG=False, то необходимо будет настроить список ALLOWED_HOSTS.
# 127.0.0.1 является стандартным значением. Без пробелов и иных символов.


#------------------------------
#             EN
#------------------------------

DB_ENGINE=postgresql                 # Your choice of DB. sqlite3 to select sqlite3. Or postgresql to select PostgreSQL

POSTGRES_USER=your_username          # Your db user
POSTGRES_PASSWORD=your_password      # Password for db user
POSTGRES_DB=db_name                  # Name of database
DB_HOST=db                           # Default is db
DB_PORT=port_for_db                  # Default is 5432


SECRET_KEY=DJANGO_SECRET_KEY         # Your django secret key
DEBUG=False                          # Set to True if you do need Debug. Leave blank if you don't
ALLOWED_HOSTS=127.0.0.1              # A list of addresses separated by spaces

# Remember, if you set DEBUG=False, you will need to configure the ALLOWED_HOSTS list
# 127.0.0.1 is the standard value. Without spaces or other characters